.imageWindow {
    -fx-background-color: white;
    -fx-padding: 10;
    -fx-spacing: 8;
}

.imageWindow {
    -fx-padding: 5;
    -fx-spacing: 10;
}

.menu {
    -fx-background-color: white;
    -fx-padding: 5;
    -fx-spacing: 10;
}

.uploadButton {
    -fx-background-color: #00c4cc;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.settingsButtons {
    -fx-background:none;
    -fx-border:none;
}

.mainLabel {
    -fx-font-weight: 800px;
}
