.imagePane {
    -fx-background-color: white;
    -fx-padding: right 5, top 5;
    -fx-spacing: 8;
}

.imageWindow {
    -fx-padding: 5;
    -fx-spacing: 10;
}

.menu {
    -fx-background-color: white;
    -fx-padding: 5;
    -fx-spacing: 10;
}

.uploadButton {
    -fx-background-color: #00c4cc;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.2) , 3, 0.0 , 0 , 1 );
}

.uploadButton:hover {
    -fx-background-color:
            radial-gradient(center 50% 50%, radius 100%, #00c4cc, #009ca3);
}

.uploadButton:pressed {
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #00c4cc 0%, #00898e 100%),
        #00c4cc, #00898e,
        radial-gradient(center 50% 50%, radius 100%, #00c4cc, #00898e);
}


.settingsButtons {
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 3, 0.0 , 0 , 1 );
}

.mainLabel {
    -fx-underline: true;
    -fx-padding: 5;
    -fx-spacing: 10;
}
